description "FIREBASE BACKUP"
author      "Hardik Sondagar"

# used to be: start on startup
# until we found some mounts weren't ready yet while booting

start on started mountall
stop on shutdown

# automatically respawn

respawn
respawn limit 99 5

script

    export HOME="/root"
    exec /usr/bin/nodejs /var/www/firebase-backup/index.js >> /var/log/firebase-backup.log 2>&1

end script

post-start script

   # optionally put a script here that will notifiy you node has (re)started
   # /root/bin/hoptoad.sh "node.js has started!"

end script
